
<p ng-if="message" class="bg-success" style="padding:30px;">{{message}}</p>

<form>
	<div class="form-group">
		<label for="name">Nombre</label>
		<input type="text" ng-model="user.name" class="form-control" id="name" placeholder="Nombre">
	</div>
	<div class="form-group">
		<label for="email">Correo</label>
		<input type="email" ng-model="user.email" class="form-control" id="email" placeholder="Correo">
	</div>
	<div class="form-group">
		<label for="age">Edad</label>
		<input type="number" ng-model="user.age" class="form-control" id="age" placeholder="Edad">
	</div>
	<button type="button" class="btn btn-success" ng-click="create(user)">Enviar</button>
</form>